@using static Topics.Database.Topics;
@using static Topics.Database.Account;
@model DiscussionViewModel
@{
	ViewData["Title"] = "Discussions";
}

@foreach (var topic in @Model.topics)
{
	if (!(await GetProperty(topic["author"], "user") == ""))
	{
		<div class="card w-50 small-screen-100">
			<div class="bg-silver card-title rounded-top text-dark padding-md">
				<div class="circular-landscape-sm" style="background-image: url(@topic["profile_picture"])"></div>
				<p>@topic["author"]</p>

				<a asp-action="ViewTopic" asp-route-topicId="@topic["id"]">@topic["title"]</a><br>
			</div>
			<div class="card-body">
				<small>Date: @topic["date"]</small>
				<p class="text-secondary small-text">@topic["content"].ShortenContent()</p>
			</div>
		</div>
		<br>
	}
}