@using MongoDB.Bson;
@using System.Linq;
@using static Topics.Database.Account;
@model ViewTopicViewModel
@{
	try { ViewData["Title"] = Model.TopicData["title"]; }
	catch {}
}

@if (Model.TopicData["result"] == "error")
{
	<script>window.location.href = '/Home/SignIn';</script>
} else
{
	<div class="card post bg-light">
		<div class="bg-silver card-title rounded-top text-dark padding-md">
			<div class="circular-landscape-md" style="background-image: url(@Model.TopicData["profile_picture"])"></div>
			<p>@Model.TopicData["author"]</p>
			<b>@Model.TopicData["title"]</b><br>
			<small>@Model.TopicData["date"]</small>
		</div>
		<p id="0" class="post-content card-body">
			@Model.TopicData["content"]
		</p>
	</div>
	<br>
	<p>
		@Model.Comments.LongCount() comments
		@if (Model.Comments.LongCount() > 0)
		{
			<small class="text-secondary"> • Last comment on @Model.Comments[(int) Model.Comments.LongCount() - 1]["date"].AsString</small>
		}
	</p>
	<br>
	<div class="card post bg-light">
		@{
			int i = 0;
			foreach (BsonDocument document in @Model.Comments)
			{
				if (!(await GetProperty(document["author"].AsString, "user") == ""))
				{
					i++;
					<div id="@document["author"].AsString">
						<div class="card-body">
							<div class="circular-landscape-sm" style="background-image: url(@await GetProperty(document["author"].AsString, "profile_picture"))"></div>
							<p>@document["author"].AsString<small class="text-secondary"> • @document["date"].AsString</small></p>
							<p id="@i" class="post-content">@document["content"].AsString</p>
						</div>
					</div>
					if (i != Model.Comments.LongCount())
					{
						<hr>
					}
					<br>
				}
			}
		}
	</div>
	<br>
	<form id="verify" method="POST" asp-action="Comment" asp-antiforgery=false class="md-form">
		<textarea name="comment" placeholder="Type a comment" class="form-control"></textarea>
		<input name="user" class="username" hidden>
		<input name="token" class="token" hidden>
		<input name="topicId" value="@Model.TopicData["id"]" hidden>
		<br>
		<button class="btn btn-primary">Comment</button>
	</form>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="/js/view-topic.js"></script>
}